$blue: #3b4393;
#app {
  background-color: #fff;
  display: flex;
  width: 90%;
  font-family: 'Microsoft JhengHei';
  .selfchange{
    transition: all 0.2s ease-in-out;
    &.active{
      color: #f38181 !important;
    }
  }
  .css-options{
    flex: 1 0 130px;
    padding: 15px;
    background-color: $blue;
    .title{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .reset{
        background-color: #333;
        color: #fff;
        border: 0;
        padding: 3px 5px;
        box-sizing: border-box;
        cursor: pointer;
        border-radius: 3px;
        font-size: 12px;
      }
    }
    h3{
      margin-bottom: 0px;
      margin-top: 30px;
      color: darken($blue,15%);
    }
    .con{
      margin-bottom: 20px;
      color: #ccc;
      .editor{
        h3{
          margin-top: 10px;
          color: #fbd260;
          white-space: nowrap;
        }
        .option, &.box-w{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 8px;
          span{
            white-space: nowrap;
          }
          select, input{
            border: 1px #ccc solid;
            padding: 5px;
            flex: 1;
            margin-left: 15px;
            border-radius: 5px;
            font-family: Microsoft JhengHei;
            box-shadow: none;
          }
        }
        &.quantity{
          display: flex;
          h3 {
            display: flex;
            align-items: center;
          }
          .con{
            display: flex;
            align-items: stretch;
            margin-left: 20px;
            margin-top: 10px;
            border-radius: 5px;
            border: 1px #ccc solid;
            flex: 1;
            margin-bottom: 0;
            background: #fff;
            color: #000;
            button{
              background-color: transparent;
              border: none;
              flex: 0 1 35px;
              height: 100%;
              font-size: 18px;
              cursor: pointer;
              transition: all 0.2s ease;
              &:hover{
                background-color: #eee;
              }
            }
            span {
              flex: 2 0 50px;
              padding: 5px 10px;
              border-right: 1px solid #ccc;
              border-left: 1px solid #ccc;
              font-size: 14px;
            }
          }
        }        
      }
      
    }
    .cssResult{
      background-color: #333;
      color: #fff;
      padding: 5px 15px;
      border-radius: 5px;
      margin-bottom: 20px;
      span{
        color: #fbd260;
      }
    }
  }
  .result{
    flex: 2 1 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../img/logo.jpg');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    .flexboxes{
      background-color: rgba(240,240,240,0.9);
      display: flex;
      border: 3px #ddd solid;
      width: 85%;
      height: 80%;
      max-height: 800px;
      border-radius: 5px;
      .item{
        min-height: 50px;
        border: 2px #fff solid;
        color: #fff;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        cursor: pointer;
        background-color: #ffb949;
        transition: all 0.5s ease-in-out;
        border-radius: 5px;
        transition: all 0.5s ease-in-out;
      }
    }
    &::before{
      position: absolute;
      content: '主軸線';
      left: 10px;
      margin-top: 20px;
      font-size: 14px;
      background-color: #fff;
      color: $blue;
    }
    &::after{
      position: absolute;
      content: '交錯軸';
      margin-left: 20px;
      width: 10px;
      line-height: 15px;
      top: 10px;
      font-size: 14px;
      background-color: #fff;
      z-index: 10;
      color: #ffb949;
    }
    &.column{
      &::before{
        content: '交錯軸';
        color: #ffb949;
      }
      &::after{
        content: '主軸線';
        color: $blue;
      }
    }
    
    
  }
  
  .line{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in-out;
    &.main{
      width: 100%;
      height: 1px;
      background-image: linear-gradient(to right, rgba(#3f2b96,0.9) , rgba(#a8c0ff,0.9));
      &::before{
        position: absolute;
        content: '⮞';
        font-size: 30px;
        transform: translatey(-50%);
        color: #a8c0ff;
        right: 10px;
      }
      &.column{
        background-image: linear-gradient(to right,rgba(#f8b500,0.9) , rgba(#fceabb,0.9));
        &::before{
          color: #fceabb;
        }
      }
      &.reverse{
        transform: translate(-50%, -50%) rotatey(180deg);
      }
    }
    &.vice{
      height: 100%;
      width: 1px;
      background-image: linear-gradient(rgba(#f8b500,0.9) , rgba(#fceabb,0.9));
      &::before{
        position: absolute;
        content: '⮟';
        font-size: 14px;
        line-height: 15px;
        transform: translatex(-50%);
        font-size: 30px;
        color: #fceabb;
        bottom: 10px;
      }
      &.column{
        background-image: linear-gradient( rgba(#3f2b96,0.9) , rgba(#a8c0ff,0.9));
        &::before{
          color: #a8c0ff;
        }
      }
      &.reverse{
        transform: translate(-50%, -50%) rotatex(180deg);
      }
    }
  }
  
}